@{
    ViewData["Title"] = "Home Page";
    @model Store.ViewModels.OrderRowListView
}
@{
    foreach (var c in @Model.Name)
    {
        <div class="text-center">
            <h1 class="display-4">Client: @c.Name</h1>
            <p>Please see table below to view a list of our clients info.</p>
        </div>
    }
}
<div>
    <table>
        <tr>
            <th>order_id</th>
            <th>product_name</th>
            <th>quantity</th>
            <th>unit_price</th>
        </tr>            
        @{    
            foreach (var x in @Model.Orders)
            {
                <tr>
                    <td>@x.OrderId</td>
                    <td>@x.ProductName</td>
                    <td>@x.Quantity</td>
                    <td>@x.ProductPrice</td>
                </tr>
            }            
        }
    </table>
</div>
<div>
    <h3><a href="/Admin/Clients">previous page</a></h3>
</div>