@{
    ViewData["Title"] = "Home Page";
    @model Store.ViewModels.ClientRowListView

}

<head>
    <link href="site.css" rel="stylesheet">
</head>

<div class="text-center">
    <h1 class="display-4">Clients</h1>
    <p>Please see table below to view a list of our clients info.</p>
</div>

<div>
    <table>
        <tr>
            <th>name</th>
            <th>birth_date</th>
            <th>address</th>
            <th>points</th>
        </tr>
        @{
            foreach (var c in @Model.ClientsRecords)
            {
                <tr>
                   <td> <a href="/admin/client/@c.ClientId">@c.Name</a></td>
                   <td>@c.Birthday</td>
                   <td>@c.Address</td>
                    <td>@c.Points</td>
             </tr>
            }
        }
    </table>
</div>
